body {
    font-family: "Roboto", sans-serif !important;
    background-image: url("../images/background.webp");
}

.container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background-color: white;
    text-align: center;

    padding: 20px 5px;
}