body {
  font-family: "Roboto", sans-serif !important;
}

.container-fluid {
  background-color: white;
}

#title {
  font-size: 30px;
}

#logo {
  border: black 1px solid;
  border-radius: 10%;
  width: 45px;
  height: 45px;
}

#navbar {
  background-color: rgb(36, 31, 40);
}

.control-btn-div {
  background-color: rgb(21, 16, 25);
}

video {
  margin-top: 7px;
  width: 620px;
  height: 460px;

  background-color: lightgray;
  border-radius: 5px;
}

#computer-token {
  width: 620px;
  height: 460px;

  border-radius: 5px;
}

#score-board {
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
}

#mobile {
  background-color: white;
  /* color: white; */
  text-align: center;
  margin-top: 10px;
}

body {
  background-image: url("images/background-compressed.png");
}